<!-- <p><input type="text" [(ngModel)]="bar"></p> -->

// Этот подход позволяет нам обрабатывать встроенные события DOM-модели
для поля ввода, но такой подход отражает только сам факт произошедшего события
и фиксация этого происходит, когда мы изменили фокус, нажав клавишу "Enter"
или кликнув мышью в стороне от поля ввода.
<p><input [value]="foo" (change)="changeFn($event)"></p>

// А этот подход позволяет не просто обрабатывать события,
а так же реагировать на каждое изменение и таким образом динамически обрабатывать 
ввод или удаление каждого символа в этом поле. И это значит, что мы используем 
не стандартное событие, а изменённое, благодаря применению директивы NgModel.
<p><input [ngModel]="bar" (ngModelChange)="modelChangeFn($event)"></p>
